<div class="col-xs-12 col-sm-6">
  <div class="book">
    <%= link_to book do %>
      <div class="book-cover" style="background: url(<%= book.image_url %>) center / cover no-repeat;"></div>
    <% end %>
    <div class="book-details">
      <div class="book-title">
        <%= link_to book.title, book %>
      </div>
      <div class="book-author">
        by <span><%= book.author.full_name %></span>
      </div>
      <div class="book-rating">
        <% if book.average_rating.nil? %>
          <span class="no-rating">not rated</span>
        <% else %>
          <%= set_stars(book.average_rating) %>
        <% end %>
        <span class="separator">|</span>
        <span class="review-count">
          <% if book.reviews.any? %>
            <%= link_to pluralize(book.reviews.count, 'review'), book_path(book,anchor: 'reviews')  %>
          <% else %>
            <span class="no-rating">no reviews</span>
          <% end %>
        </span>
      </div>
      <div class="book-description">
        <%= truncate_and_link(book.description, length: 20, url: book_path(book)) %>
      </div>
    </div>
  <%#= link_to book, class: 'book-link' do %>
  <%# end %>
  </div>
</div>
